<% breadcrumbs.unshift '<a href="/">Home</a>' -%>
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <title><%= partial "partials/title" %></title>

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%#<meta name="viewport" content="width=device-width" />%>
  <% if current_page.data['tags'] -%>
  <meta name="keywords" content="<%= current_page.data['tags'].join(', ') %>">
  <% end %>
  <meta name="description" content="<%= yield_content(:meta_description) || current_page.data['description'] || settings.description %>" />

  <% if yield_content(:opengraph) %>
  <!-- Opengraph data -->
  <%= yield_content(:opengraph) %>
  <% end %>

  <!-- author information -->
  <link rel="author" href="https://plus.google.com/103168129025206346370?rel=author"/>
  <meta name="author" content="<%= settings.author %>">

  <link href="<%= settings.url %>/favicon.ico" rel="icon">

  <% if link = yield_content(:canonical) %>
    <link rel="canonical" href="<%= link %>" />
  <% end %>

  <!-- feeds -->
  <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="<%= settings.title %> ATOM Feed">
  <link rel="alternate" type="application/atom+json" href="/atom.json" title="<%= settings.title %> JSON Feed">
  <link rel="alternate" type="application/rss+xml" href="/feed.rss" title="<%= settings.title %> RSS 2.0 Feed">
  <% if current_article %>
  <link rel="alternate" type="application/atom+xml" href="<%=current_article.url%>atom.xml" title="<%= current_article.title %> ATOM Feed">
  <link rel="alternate" type="application/json" href="<%=current_article.url%>atom.json" title="<%= current_article.title %> JSON Feed">
  <% end %>

  <%= stylesheet_link_tag 'screen.css' %>

  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>

  <body>
    <%= partial "partials/header" %>
    <div class="main">
      <%= partial "partials/breadcrumbs" %>
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <%= partial "partials/footer" %>

    <script type="text/javascript">
      //<![CDATA[
      (function() {
        var sitejs = document.createElement('script'); sitejs.type = 'text/javascript'; sitejs.async = true; sitejs.src = '/javascripts/app.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sitejs, s);
      })();
      //]]>
    </script>
  </body>
</html>
