<ul>
  <% year, article_year = nil %>
  <% articles.each_with_index do |article, i| %>
    <% article_year = article.date.strftime('%Y') %>
    <% if year != article_year %>
      <% year = article_year %>
      
      <% if article != articles.first %>
        </div> <!-- end year -->
      <% end %>

      <h2><%= year %></h2>
      <div class="year year=<%= year %> row-fluid">

    <% end %>


    <li>
      <article>
        <div class="row">
          <time class="two columns" datetime="<%= article.date.xmlschema %>" pubdate>
            <span class="month"><%= article.date.strftime('%b') %></span>
            <span class='day'><%= article.date.strftime('%d') %></span>
          </time>
          <h3 class="ten columns"><%= link_to article.title, article %></h3>
        </div>
        <div class="row">
          <footer class="ten columns offset-by-two">
            <span class="categories">posted in <%= partial 'partials/post_categories', :locals => { :article => article } %></span>
          </footer>
        </div>
      </article>
    </li>
  <% end %>
  </div> <!-- end year -->
</ul>