<aside class="large-4 small-0 columns">

<section class="search">
	<h4>Search this blog</h4>
	<form>
		<input type="text" class="st-search-input" placeholder="e.g. Python" />
		<input type="submit" value="Search">
	</form>
</section>

	<section>
	  <h4>Recent posts</h4>
	  <ul id="recent_posts">
	    <% blog.articles[0...5].each do |article| %>
	      <li><a href="<%= article.url %>"><%= article.title %></a></li>
	    <% end %>
	  </ul>
	</section>

	<section>
	  <h4>Categories</h4>
	  <ul id="category_list">
	    <% blog.categories.keys.sort_by(&:downcase).each do |category| %>
	    	<% articles = blog.categories[category] %>
	      <li><a href="<%= category_path(category) %>"><%= category %> (<%= articles.size %>)</a></li>
	    <% end %>
	  </ul>
	</section>

	<section>
	  <h4>Github Repos</h4>
	  <ul id="github_repos">
	    <% github_repos.each do |repo| %>
		    <li>
		    	<a href="<%= repo['html_url'] %>"><%= repo['name'] %></a>
		    	<p><%= repo['description'] %></p>
		    </li>
	    <% end %>
	  </ul>
	</section>
</aside>
