<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
<title><%=h settings.title %></title>
<description><%=h settings.description %></description>
<link><%= settings.url %></link>
<language>en-us</language>
<lastBuildDate><%= Time.now.strftime("%a, %d %b %Y %H:%M:%S %z") %></lastBuildDate>
<pubDate><%= blog.articles.first.date.strftime("%a, %d %b %Y %H:%M:%S %z") %></pubDate>
<ttl>1800</ttl>
  <% blog.articles.each do |article| -%>
  <item>
    <title><%=h article.title %></title>
    <description><%= strip_tags article.summary %></description>
    <link><%= settings.url %><%= article.url %></link>
    <guid isPermaLink="false"><%= UUID.create_sha1('darrenknewton.com' + article.url, UUID::NameSpace_URL) %></guid>
    <pubDate><%= article.date.strftime("%a, %d %b %Y %H:%M:%S %z") %></pubDate>
    <comments><%= settings.url %><%= article.url %></#comments</comments>
    <% article.categories.each do |category| -%>
	<category><![CDATA[<%=category%>]]></category> 
	<% end %>
  </item>
  <% end %>
</channel>
</rss>
